/* 当番タイルを青に白字へ */
.react-calendar__tile.on-duty {
  background: #007bff;
  color: #fff;
}

/* duty-labelとholiday-labelは前後で改行する */
.react-calendar__tile .duty-label,
.react-calendar__tile .holiday-label {
  display: block;
}

/* holiday-labelは赤字にする */
.react-calendar__tile .holiday-label {
  color: #d00;
}
